.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal__styles {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 90%;
  width: 90%;
}

.close__button{
    margin-left: 90%;
    margin-top: -35px;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    font-size: 1em;
    border-radius: 5px;
}
